<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ladlb.directassemblee.settings">

    <application>

        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.SettingsTheme" />

    </application>

</manifest>
